# ignore check.ipynb
check.ipynb
create_renum_dataset.py
check_rng_state.py
load_ckpt_state.py
save_ckpt_state.py

# ignore any log files
log/

# ignore any command scripts
*sh
!example.sh

# ignore any .ipynb
*ipynb 

# ignore self folder
gea/self/*
!gea/self/example/

# ignore Python compile
*.pyc
__pycache__/